@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 1000px;
}
header{
    height: 10%;
    background-color: #fa8071;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    list-style: none;
    margin: 0; 
    background: deepskyblue;
} 
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
} 
.navigation a:hover {
    background: #1565C0;
}
.navigation li:nth-last-child(-n+2) {
    justify-content: flex-end;
}
aside{
    width: 30%;
}
main{
    width: 70%;
}
.img400{
    width: 400px;
    height: 400px;
}
.img200{
    width: 400px;
    height: 200px;
}
.img668{
    width: 668px;
    height: 200px;
}
main div{
    border-bottom: 5px;
}
footer{
    height: 8%;
    background-color:#cccccc ;
    display: flex;
    justify-content: center;
    align-items: center;
}