*{
    padding: 0px;
    margin: 0;
}
header{
    background-color: #7fffd4;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
header div{
    display: flex;
    align-items: center;
}
header img {
    border-radius: 50% ;
    width: 50px;
    height: 50px;
}
.navigator{
    display: flex;
    flex-flow:column wrap ;

    list-style: none;
    background: #00bfff;

    position: absolute;
    top: 25px;
    right: 25px;

    z-index: 0;
}
.navigator a{
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #ffffff;
}
.navigator a:hover{
    background: #1565C0;
}
.todo{
    background-color: #8bacca;
    display: flex;
}
option{
    display: inline;
}
.izquierda{
    /* overflow: scroll; */
    flex-grow: 2;
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items:center ;
    overflow: scroll;
}
.item{
    display: flex;
    height: auto;
    justify-content: space-around;
}
.sep{
    padding: 5px;
    border-bottom: #cccc groove 3px;
}
.derecha{
    flex-grow: 3;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}
.left {
    align-self: flex-start; /* Alinea el primer hijo a la derecha */
  }
.info{
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
}
.ficha{
    margin: 10px;
    flex-grow: 1;
    flex-basis: 0;
}
.num img{
    width: 20px;
    height: 20px;
}
.num{
    display: flex;
    justify-content: space-between;
}
.barra {
    width: 100px;
    height: 20px; 
    background: linear-gradient(to right, #e617517a var(--porcentaje), transparent var(--porcentaje));
    border:1px solid #ff6347;
    border-radius: 5px; 
}
